/Laboratorul1/target/
/Laboratorul2/target/
/Laboratorul3/target/
/Laboratorul4/target/
/Laboratorul5/target/
/Laboratorul6/target/
/Laboratorul7/target/
/Laboratorul8/target/
/Laboratorul9/target/
/Laboratorul10/Server/target/
/Laboratorul10/Client/target/
/Laboratorul10/Server1/target/
/Laboratorul12/target/
